* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "JetBrains Mono", Courier, monospace;
    background-color: #f2f2f2;
    padding: 25px;
}

h1 {
    color: slateblue;
    text-align: center;
    border-bottom: solid thin black;
    padding-bottom: 5px;
    margin-bottom: 20px;
}

li {
    font-size: 18px;
    color: black;
}
