body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    padding: 25px;
    background-color: #003366;
    color: white;
}

header img {
    height: 38px;
}

nav {
    background-color: #0055a4;
    padding: 15px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 25px;
    display: flex;
    justify-content: center;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
}

nav ul li a:hover {
    color: #ffcc00;
}

.container {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.column {
    flex: auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
}

.column:first-child {
    flex-basis: 50%;
}

.column:last-child {
    flex-basis: 50%;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: white;
}

th,
td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #2a71d0;
    color: white;
}

footer {
    background-color: #003366;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
}

footer ul {
    list-style-type: none;
    padding: 0;
}

footer ul li a {
    text-decoration: none;
    color: white;
}

footer ul li a:hover {
    color: #ffcc00;
}
