body {
    background-color: white;
    font-family: "Times New Roman", serif;
    font-size: 12pt;
    color: black;
}

.header,
.menu,
.nav,
footer {
    display: none;
}

.main-content {
    margin-left: 20px;
    margin-right: 20px;
    padding: 0;
    background: white;
    border: none;
}

h1 {
    font-size: 14pt;
}

h2 {
    font-size: 13pt;
}

.rowodd {
    background-color: #ECECEC;
}

.roweven {
    background-color: #CCCCCC;
}
